@if (Visible)
{
    <div class="d-flex justify-center align-center pa-8">
        <MudProgressCircular Indeterminate="true" Color="Color.Primary" Size="@Size" />
    </div>
}

@code {
    [Parameter] public bool Visible { get; set; } = true;
    [Parameter] public Size Size { get; set; } = Size.Large;
}
